.subscription-image {
    width: 50px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Optional: Makes the image round */
}

.tea-image {
    width: 30px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Optional: Adds rounded corners */
    margin-right: 10px; /* Space between the image and text */
}
