.subscription-image {
    width: 180px; 
    height: auto; 
    border-radius: 50%; 
}

.tea-image {
    width: 30px; 
    height: auto; 
    border-radius: 5px; 
    margin-right: 10px; 
}

.tea-element {
    display: flex;
    align-items: center;
}